<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <style>
      table{
         border-collapse: collapse;
         margin-top: 10px
      }
      table,td,th{
         border:1px solid #222;
         padding: 10px;
      }
    </style>
 </head>
 <body>
     {{users}}
     <table>
       <tr>
         <th>S.NO</th>
         <th>Name</th>
         <th>Marks</th>
        </tr>
       {% for user in users %}
        <tr>
          <td>{{forloop.counter}}</td> 
          <td>{{user.name}}</td>
          <td>{{user.marks}}</td>
        </tr>
       {% endfor %}
      </table>
   
   </body>
</html>

